<div class="flex justify-between items-center m-1">
    <div class="w-1/5">
        <label for="text-field">
            {{ label }}
        </label>
    </div>
    <div class="w-2/5">
        <input
            class="appearance-none block bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            id="text-field" type="text" placeholder="0" value="{{ data }}">
    </div>
    <div class="inline-flex w-2/5">
        <button
            class="bg-red-300 hover:bg-red-400 text-gray-800 font-mono font-extrabold py-2 px-4 rounded-l ml-auto mr-0">
            -
        </button>
        <button class="bg-green-300 hover:bg-green-400 text-gray-800 font-mono font-extrabold py-2 px-4 rounded-r mr-0">
            +
        </button>
    </div>

</div>
