<div class="flex justify-between items-center m-1">
    <div class="w-1/2">

        <label for="text-field">
            {{ label }}
        </label>
    </div>
    <div class="w-1/2">
        <input
            class="appearance-none block w-3/4 bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 ml-auto mr-0"
            id="text-field" type="text" placeholder="0" disabled value="{{ data | number : '.4' }}">
    </div>
</div>
