<div class="w-full max-w-xl container mx-auto pt-5">
    <h1 class="font-bold mb-1 text-center text-lg">{{ title | titlecase }}</h1>
    <div class="flex justify-between items-center">
        <div><hfc-header [data]="data.settings.stageName"></hfc-header></div>
        <div><hfc-button data="settings"></hfc-button></div>
    </div>
    <div>
        <hfc-number-field label="Time" [data]="data.time"></hfc-number-field>
        <hfc-number-field label="Paper" [data]="data.paper"></hfc-number-field>
        <hfc-number-field label="Metall" [data]="data.metall"></hfc-number-field>
        <hfc-number-field label="C" [data]="data.c"></hfc-number-field>
        <hfc-number-field label="D" [data]="data.d"></hfc-number-field>
        <hfc-number-field label="M" [data]="data.m"></hfc-number-field>
        <hfc-number-field label="PT" [data]="data.pt"></hfc-number-field>
        <hfc-number-field label="PE" [data]="data.pe"></hfc-number-field>
        <hfc-text-field label="Hit Factor"
            [data]="((data.metall+data.paper*data.settings.perPaperTarget-data.c-data.d-data.m)*5+data.c*3+data.d*1-data.m*10-data.pt*10-data.pe*10)/data.time"></hfc-text-field>
        <hfc-text-field label="Hit Factor WhatIf"
            [data]="((data.metall+data.paper*data.settings.perPaperTarget-data.c-data.d-data.m)*5+data.c*5+data.d*3+data.m*1)/data.time"></hfc-text-field>
        <hfc-text-field label="Lost points" [data]="data.c*2+data.d*4+data.m*15+data.pt*10+data.pe*10"></hfc-text-field>
    </div>
</div>
